{% load webExtras %}
<script>
    var initialPage = ["intro","personal"];
    var skillCategory = {{ skillLabel|listElementSkillLabel|safe }};
    var pages = initialPage.concat(skillCategory)
    
    i=0;
    error = 0;
    (function(window, location) {
        history.replaceState(null, document.title, location.pathname+"#"+pages[i]);
        history.pushState(null, document.title, location.pathname);

        window.addEventListener("popstate", function() {
            if(location.hash !== "#"+pages[i]) {
                    history.replaceState(null, document.title, location.pathname);
                    setTimeout(function(){
                        if (i>0){
                            $("#" + pages[i]).fadeOut();
                            $("#" + pages[i-1]).delay(500).fadeIn();
                            i--;
                            retrieveNavigation();
                        }

                    },0);
            }
        }, false);
    }(window, location));
    function retrieveNavigation(){
        if(i>1){
            $("#"+pages[i] +" .navigation").empty();
            for (j=1; j<i;j++){
                title = $("#"+pages[j] + " > h2").text();
                $("#"+pages[i] +" .navigation").append("<li><a href='#"+pages[j] + "'>" + title + "</a></li>");
            }
        }
    }
    function changePage(){
        $("#" + pages[i]).fadeOut();
        $("#" + pages[i+1]).delay(500).fadeIn();
        i++;
        retrieveNavigation();
    }
    function emptyPersonalInfoHandle()
    {   
        error = 0;
        $('.errorCheck').each(function(){
            if(!$(this).val()){
               $(this).addClass("errorInput");
                error++;
            }
            else{
                $(this).removeClass("errorInput");
            }
        });
    }
    $(document).ready(function(){
        $('form').bind("keypress", function(e) {
            if (e.keyCode == 13) {               
                e.preventDefault();
                $("#"+ pages[i]+ " .continue").click();
                return false;
            }
        });
        $("input[type='radio']").click(function(){
            var previousValue = $(this).data('storedValue');
            if (previousValue) {
                $(this).prop('checked', !previousValue);
                $(this).data('storedValue', !previousValue);
            } 
            else{
                $(this).data('storedValue', true);
                $("input[type=radio]:not(:checked)").data("storedValue", false);
            }
        })
      $(".continue").click(function(e){
        if(i==1){
            emptyPersonalInfoHandle();
            if (error) {
                e.preventDefault();
                return;
            }
        }
        changePage()
      });
    });
</script>