<section id="personal" class="page" style="display: none">
    <h2>اطلاعات فردی</h2>
    <hr>
    <div class="row" >
        <div class="col-md-8 col-12">
            <label for="nameId">نام و نام خانوادگی</label>
            <input class="form-control errorCheck" type="text" name="name" id="nameId" />
        </div>
        <div class="col-md-2 col-6">
            <label for="sexualityId">جنسیت</label>
            <select class="form-control"name="sexuality" id="sexualityId">
                <option value="0">آقا</option>
                <option value="1">خانم</option>
            </select>
        </div>
        <div class="col-md-2 col-6">
            <label for="birthyearId">سال تولد</label>
            <input class="form-control" type="number" name="birthyear" id="birthyearId" />
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4 col-12">
            <label for="stdnoId">شماره دانشجویی</label>
            <input class="form-control errorCheck" type="number" name="stdno" id="stdnoId" />
        </div>
        <div class="col-md-4 col-12">
            <label for="enteryearId">سال ورود</label>
            <input class="form-control" type="number" name="enteryear" id="enteryearId" />
        </div>
        <div class="col-md-4 col-12">
            <label for="gradeId">مقطع تحصیلی</label>
            <select class="form-control"name="gender" id="genderId">
                <option value="0">کارشناسی</option>
                <option value="1">کارشناسی ارشد</option>
                <option value="1">دکتری</option>
            </select>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4 col-12">
            <label for="emailId">پست الکترونیک</label>
            <input class="form-control" type="email" name="email" id="emailId" />
        </div>
        <div class="col-md-4 col-12">
            <label for="siteurlId">آدرس سایت شخصی</label>
            <input class="form-control" type="text" name="siteurl" id="siteurlId" />
        </div>
        <div class="col-md-4 col-12">
            <label for="phonenumberId">شماره تلفن همراه</label>
            <input class="form-control errorCheck" type="number" name="phonenumber" id="phonenumberId" />
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6 col-12">
            <label for="telegramId">آی دی تلگرام</label>
            <input class="form-control" type="text" name="telegram" id="telegramId" />
        </div>
        <div class="col-md-6 col-12">
            <label for="instagramId">آدرس پیج اینستاگرام</label>
            <input class="form-control" type="text" name="instagram" id="instagramId" />
        </div>
    </div>
    <div class="row" >
        <a class="col-md-12 col-12 btn btn-primary continue" href="#skills">ادامه</a>
    </div>
</section>