{% for itemLabel in skillLabel %}
    {% set loop = skillLoop %}
    <section id={{itemLabel.labelName}} class="page">
        <h2>مهارت ها</h2>
        <div class="pagination">
            <a class="back" href="#"><i class="fas fa-angle-right"></i></a>
            <ul class="navigation"></ul>
        </div>
        <hr>
        <h3>{{itemLabel.labelName}}</h3>
        <div class="item">
            {% for itemSkill in skill %}
                {% if itemSkill.categorylabel.labelName ==  itemLabel.labelName  %}
                    <div class="row">
                            <span class="item-title col-4">{{ itemSkill.skillName }}</span>
                            <div class="col-8 levels">
                                <div class="row">
                                    <div class="col-4">
                                        <input type="radio" id="{{itemSkill.skillName}}-1-id" name="{{itemSkill.skillName}}" value="1"/><label for="{{itemSkill.skillName}}-1-id">مبتدی</label>
                                    </div>
                                    <div class="col-4">
                                        <input type="radio" id="{{itemSkill.skillName}}-2-id" name={{itemSkill.skillName}} value="2"/><label for="{{itemSkill.skillName}}-2-id">متوسط</label>
                                    </div>
                                    <div class="col-4">
                                        <input type="radio" id="{{itemSkill.skillName}}-3-id" name={{itemSkill.skillName}} value="3"/><label for="{{itemSkill.skillName}}-3-id">حرفه ای</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>  
{% endfor %}
<button type="submit" class="btn btn-success">ثبت اطلاعات</button>